body	{
	background-image:url('/images/border.gif');
	background-repeat:repeat-x;
}
ul	{
	list-style-type: none;
}

#header	{
	height:80px;
	margin: 0px;
	padding: 0px;
}

#content, #footer	{
	margin-top: 20px;
}

#footer	{
	height:100px;
	margin-top:20px;
	padding-top: 10px;
}
.side_bar {
	background-color:#fafafa;
	border: 1px solid #ddd;
	padding:5px;
	
}
.messages	{
	padding:5px;
}

.blog_post	{
	margin-bottom: 50px;
}
.blog_date	{
	color:#AAA;
}

.admin	{
	background-color:#333;
	color:#AAA;
	margin-top:3px;
	padding:10px;
}
.admin a			{ color:#aaa;}
.admin a:visited	{ color:#bbb;}
.admin a:hover		{ color:#FFF; background-color:#333;}

table
{
border-collapse:collapse;
width:100%;
}
table,th, td
{
border: 1px solid #ddd;
padding: 5px;
text-align:left;
}

.even {	background-color:#fff;}
.odd { background-color:#f9f9f9;}

.links{
	list-style-type: none;
	margin-top:20px;
	padding:0px;
}


#navigation	{
	background-color:#eee;
	border: 1px solid #ccc;
	
	margin-top:20px;
	padding:5px;
	padding-bottom:5px;
}

#map_holder {
	background-color:#900;
	color:#fff;
	font-weight:bold;
	padding:1px;
}
#map_search	{
	font-size:18px;
	padding:5px;
}
.ads	{
	background-color:#eee;
	padding:10px;
}
#bottom {
	border-top: 1px solid #ccc;
	padding-top: 3px;
}
.mapmed {
	border: 1px solid #900;
	height:500px;
	width:220px;
	display:inline;
	float:left;
	padding-bottom:10px;
	padding-right:10px;
	position:relative;
}
#photos	{
	padding-top:10px;
}
#photos img	{
	padding:4px;
}

.border	{
	border: 1px solid #979797;
	border-style:inset;
	border-width:1px;
}
.info_box	{
	border: 1px solid #ccc;
	display:inline;
	float:left;
	margin-right:5px;
	padding:5px;
	
}
/*

.container_12 {
	background: #fff url(/images/12_col.gif) repeat-y;
	margin-bottom: 20px;
}
*/
.top_pad	{
	padding-top:10px;
}
.left_align	{
	margin-left:0px;
}
.right_align	{
	margin-right:0px;
}
.review_box	{
	margin-right:0px;
	margin-top:4px;
	padding:6px 0px;
}
.grey	{
	background-color:#eee;
}
.white {
	background-color:#fff;
}
.first_box	{clear:both;}

/*
criteria display boxes 
*/
.criteria_display {
	background-color:#333;
	color:#ccc;
	font-weight:bold;
	font-size:16px;
	padding:5px;
	margin-bottom:10px;
}
.criteria_list{
	background-color:#fff;
	font-weight:normal;
	font-size:12px;
	padding: 5px;
}
.criteria_list_box img {
	margin-left:5px;
}
.criteria_main	{
	color:#666;
	font-weight:bold;
	width:100%;
}
.criteria_sub	{
	margin:0 auto;
	padding:4px;
}
.criteria_name	{
	color:#333;
	display:inline;
	float:left;
	font-weight:normal;
	position:relative;
}
.criteria_rating	{
	display:inline;float:right;position:relative;
}
.criteria_list_box {

	color:#ccc;
	margin-left:0px;

}
.criteria_checkbox	{

	margin:5px;
}
.criteria_check_list{
	background-color:#333;
		padding-bottom:1px;
}
.criteria_option	{
	color:#333;

}
.criteria_option img {
	margin-left:1px;
}
.criteria_absent	{
	font-weight:normal;
}
hr.clrfloat { 
visibility: hidden; 
clear: both; 
height: 0; 
border: 0; 
margin: 2; 
padding: 0; 
}
.light	{
	background-color:#fff;
}
.caution
{
	background-color: #ffffdd;
	border: 1px solid #ffff66;
	color:#666;
	margin-bottom: 15px;
	padding:10px;
}
.caution h2	{
	font-size:14px;
	margin:0px;
	padding:0px;
}
.caution p {
	margin-bottom:10px;
}
#days_holder	{
	height:55px;
}
.day_check {
	display:block;
	float:left;
	margin:3px;
	width:100px;
}

.form_line	{
	background-color:#eee;
	clear:both;
	
	
}
.form_label {
	
	float:left;
	padding:2px;
	text-align: right;
	width:80px;
}
.form_data {
	border-left:2px solid #999;
	float:right;
	margin-bottom: 10px;
	padding-left:10px;
	position:relative;
	width:435px;
}
.no_border {
	border-left:none;
	
}

#title	{
	float:left;
}
#event_date {
	float:right;
}

.event_listing  {


}
.event_location h3 {

}
.event_desc	{
		float:left;
	width:350px;
	margin-bottom:10px;
}
.event_where {
	float:left;
	width:200px;
}
.event_what {
	float:left;
	width: 200px;
	margin-bottom:10px;
}

.event_rating {
	float:left;
	margin-right: 10px;
	width:80px;
}
#search_bar	{
	background-color:#333;
	color:#DDD;
	margin-bottom: 10px;
	padding:10px;
}
#search_bar input {
	font-size:20px;
	font-weight: bold;
}