
#header	{
	margin: 0px;
	padding: 0px;
}

#content, #footer	{
	margin-top: 20px;
}
#footer	{
	background-color:#cccccc;
	height:100px;
	margin-top:20px;
	padding-top: 10px;
}
.side_bar {
	padding:5px;
}
.messages	{
	padding:5px;
}

.blog_post	{
	margin-bottom: 50px;
}
.blog_date	{
	color:#AAA;
}

.admin	{
	background-color:#333;
	color:#AAA;
	margin-top:3px;
	padding:10px;
}
.admin a			{ color:#aaa;}
.admin a:visited	{ color:#bbb;}
.admin a:hover		{ color:#FFF; background-color:#333;}