<h1>welcome</h1>
<p>this is the future home of thenightlifesite.com.</p>
<p>during development, sign up will be available and new features should be added regularly. it is recommended that you return often to see what new features are available as well as to check out what is going on in your neighborhood.</p>

