<h1>Reviews for <%= @location.name %></h1>
<div class="grid_10 grey left_align">
	<%= link_to 'Back to ' + @location.name , @location %>
</div>
<%= render :partial => 'list_form', :locals => {:location => @location, :reviews => @location.reviews}%>



<div class="grid_8">
	<%= link_to 'Back to ' + @location.name , @location %>
</div>