<div id="search_bar">
	<% form_tag :controller => :locations, :action => 'search'  do |form| %>
		<%= text_field_tag "query", nil, :size => 30 %>
		<%= text_field_tag "city", nil, :size => 15 %>
		<%= submit_tag 'search', :class => 'medium green awesome'%>
	<% end %>
</div>

